.wallet-section {
  padding-block: 24px;
  /* margin-bottom: 20px; */
  display: flex;
  gap: 24px;
}

.walltet-section__buttons {
  display: flex;
  gap: 16px;
}

@media (max-width: 940px) {
  .wallet-section {
    flex-direction: column;
  }

  .walltet-section__buttons {
    gap: 8px;
  }
}