.playing-field {
  width: 100%;
  height: calc(100vh - 260px);
  padding-inline: 110px;
  border-radius: 24px;
  padding: 20px;
  background: radial-gradient(50% 50% at 50% 50%, #00683B 0.01%, #002E1A 100%);
  position: relative;
}

.playing-field__inner {
  text-align: center;
  height: 100%;
  border-radius: 16px;
  border: 2px solid #004526;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.playing-field__buttons {
  display: flex;
  gap: 25px;
}

.playing-card__card-status-mobile {
  display: none;
}

@media (max-width: 940px) {
  .playing-card__card-status-mobile {
    display: block;
    width: 50%;
  }

  .playing-field {
    width: initial;
    border-radius: 8px;
    padding: 8px;
    height: 100%;
  }

  .playing-field__inner {
    border-radius: 6px;
    padding-block: 32px;
    height: 100%;
  }

  .playing-card__card-status {
    display: none;
  }
}

@media (max-height: 1000px) AND (max-width: 1350px){
  .playing-card__card-status {
    display: none;
  }

  .playing-card__card-status-mobile {
    display: block;
    width: 50%;
  }
}

@media (max-height: 820px) {
  .playing-card__card-status {
    display: none;
  }

  .playing-card__card-status-mobile {
    display: block;
    width: 50%;
  }
}